.transition-vertical-enter,
.transition-vertical-exit {
    position: fixed;
    transition: transform 500ms ease-in-out;
}
/* new item slides up from bottom */
.router-nav-forward > .transition-vertical-enter {
    transform: translateY(100vh);
}
.router-nav-forward > .transition-vertical-enter-active {
    transform: translateY(0);
}
/* old items slide up off top */
.router-nav-forward > .transition-vertical-exit {
    transform: translateY(0);
}
.router-nav-forward > .transition-vertical-exit-active {
    transform: translateY(-100vh);
}
/* new item slides down from top */
.router-nav-back > .transition-vertical-enter {
    transform: translateY(-100vh);
}
.router-nav-back > .transition-vertical-enter-active {
    transform: translateY(0);
}
/* old items slide down off bottom */
.router-nav-back > .transition-vertical-exit {
    transform: translateY(0);
}
.router-nav-back > .transition-vertical-exit-active {
    transform: translateY(100vh);
}

.transition-zoom-enter,
.transition-zoom-exit {
    position: fixed;
    transition: 500ms ease-in-out;
    transition-property: transform opacity;
}
/* new item grows from 0 */
.router-nav-forward > .transition-zoom-enter {
    transform: scale(0.1, 0.1);
}
.router-nav-forward > .transition-zoom-enter-active {
    transform: initial;
}
/* old items grow and fade */
.router-nav-forward > .transition-zoom-exit {
    transform: initial;
    opacity: 1;
}
.router-nav-forward > .transition-zoom-exit-active {
    transform: scale(10, 10);
    opacity: 0;
}
/* new item shrinks down from 10 and fade in */
.router-nav-back > .transition-zoom-enter {
    transform: scale(10, 10);
    opacity: 0;
}
.router-nav-back > .transition-zoom-enter-active {
    transform: initial;
    opacity: 1;
}
/* old items shrink down to 0 */
.router-nav-back > .transition-zoom-exit {
    transform: initial;
}
.router-nav-back > .transition-zoom-exit-active {
    transform: scale(0.1, 0.1);
}

/* simple fade in and out */
.transition-fade-enter,
.transition-fade-exit {
    position: absolute;
    transition: opacity 500ms linear;
}
.transition-fade-enter {
    opacity: 0;
}
.transition-fade-enter-active {
    opacity: 1;
}
.transition-fade-exit {
    opacity: 1;
}
.transition-fade-exit-active {
    opacity: 0;
}
