<%
var package = htmlWebpackPlugin.options.packageInfo;
var files = htmlWebpackPlugin.files;
var path = webpackConfig.output.publicPath;
%><!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<% for (var i in files.css) { %><link rel="preload" href="<%= files.css[i] %>" as="style">
	<% } %><% for (var i in files.chunks) { %><link rel="preload" href="<%= files.chunks[i].entry %>" as="script">
	<% } %><title><%= package.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<meta name="description" content="<%= package.description %>">
	<meta name="msapplication-TileColor" content="#673ab8">
	<meta name="msapplication-TileImage" content="<%= path %>icons/mstile-150x150.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="<%= package.displayName %>">
	<meta name="application-name" content="<%= package.displayName %>">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= path %>icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="<%= path %>icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="<%= path %>icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="<%= path %>manifest.json">
	<% for (var i in files.css) { %><link rel="stylesheet" href="<%= files.css[i] %>"><% } %>
</head>
<body>
	<noscript>
		<div id="status-display" data-status="Error">This application requires JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions to enable JavaScript</a> in your web browser.</div>
	</noscript>
	<script>document.write('<div id="status-display" data-status="Initial-Load">Loading...</div>');</script>
	<div id="app"></div>
	<% for (var i in files.chunks) { %><script type="text/javascript" src="<%= files.chunks[i].entry %>"></script>
	<% } %><style>#status-display[data-status="Initial-Load"]{display: none;}</style>
</body>
</html>
